<%- include partials/header.ejs%>
    <h1>About</h1>
    <p>I am <%= myName %></p>
    <p>It is <%= month %>,it is cold!</p>

        <img src="../public/images/CZ4rbRGUAAEIhaa.jpg" />
</body>
</html>